<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>Amazonas</title>
</head>
<body>
    <div class="grid-container">
        <header class="header row">
            <div class="header-logo">
                <a href="/">
                    <img src="./images/logo-amazonas.png" alt="Amazonas">
                </a>
            </div>
            <div class="global-location">
                <a href="">
                    <div class="nav-icon">
                        <i class="icon-gps"></i>
                    </div>
                    <div class="nav-lines">
                        <span class="nav-line1">Enviar a</span>
                        <span class="nav-line2">Elige tu dirección</span>
                    </div>
                </a>
            </div>
            <div class="nav-search">
                <form action="">
                    <select class="nav-searchScope" name="" id="">
                        <option value="">Todos los departamentos</option>
                        <option value="">Arte y artesanías</option>
                        <option value="">Automotríz</option>
                        <option value="">Bebé</option>
                        <option value="">Belleza y cuidado personal</option>
                        <option value="">Computadoras</option>
                        <option value="">Electrónicos</option>
                    </select>
                    <input class="nav-searchField" type="search" name="" id="" placeholder="Canon EOS R6 - Cámara sin Espejo de Marco">
                    <button class="nav-searchSubmit">
                        <i class="icon-search"></i>
                    </button>
                </form>
            </div>
                <div class="sign-in">
                    <a href="signin.html">
                        <span class="nav-line1">Hola, identifícate</span>
                        <span class="nav-line2">Cuenta y Listas</span>
                    </a>
                </div>
                <div class="orders">
                    <a href="">
                        <span class="nav-line1">Devoluciones</span>
                        <span class="nav-line2">Y Pedidos</span>
                    </a>
                </div>
                <div class="chart">
                    <a href="cart.html">
                        <i class="icon-shoppingCart"></i>
                    </a>
                </div>
        </header>
        <nav class="nav-main">
            <a class="nav-main-link" href="">
                <i class="icon-menu"></i>
                Todo
            </a>
            <a class="nav-main-link" href="">Ofertas del Día</a>
            <a class="nav-main-link" href="">Servicio al Cliente</a>
            <a class="nav-main-link" href="">Tarjetas de Regalo</a>
            <a class="nav-main-link" href="">Listas</a>
            <a class="nav-main-link" href="">Vender</a>
        </nav>
        <main class="main">
            <div class="product-container">
                <div class="product-thumbnails">
                    <a href="">
                        <img src="./images/camera.png" alt="Canon">
                    </a>
                    <a href="">
                        <img src="./images/camera2.png" alt="Canon">
                    </a>
                    <a href="">
                        <img src="./images/camera3.png" alt="Canon">
                    </a>
                </div>
                <div class="product-img">
                    <img src="./images/camera.png" alt="Canon">
                </div>
                <div class="product-description">
                    <h2>Canon EOS R6 - Cámara sin Espejo de Marco Completo + Lente RF24-105mm F4 L IS USM</h2>
                    <a>Marca: Canon</a>
                    <p>Precio: <span class="product-price">$100,669.00</span> <b>Envío GRATIS</b>. <a href="">Detalles</a></p>
                    <p>Hasta <b>18 meses sin interés de $5,592.76</b>. <a href="">Ver mensualidades</a></p>
                    <p><a href="">Solicitá tu tarjeta Amazon Recargable</a> y obtén $100 de descuento en tu primera compra mayor a $500</p>
                    <p>Color: <b>Negro</b></p>
                    <p>Estilo: <b>24-105mm USM Kit</b></p>
                    <h3>Acerca de este artículo</h3>
                    <p>
                        - Alta calidad de imagen con un nuevo sensor CMOS de marco completo de 20 megapíxeles.<br>
                        - Procesador de imagen DIGIC X con una gama ISO de 100-102400; ampliable a 204800.<br>
                        - Disparo continuo de alta velocidad de hasta 12 fps con obturador mecánico y obturador electrónico (silencioso) de hasta 20 fps.<br>
                        - CMOS AF de doble pixel, cubre aproximadamente Área 100% con 1.053 AF.<br>
                        - Seguimiento de asuntos de personas y animales* utilizando tecnología de aprendizaje profundo. <br>
                    </p>
                </div>
                <div>
                    <div class="shopping-container">
                        <div class="shopping-price">$100,669.00</div>
                        <div class="shopping-shipping">
                            <div class="shopping-shippingType">
                                <p>Envío GRATIS. <a href="">Detalles</a></p>   
                            </div>
                            <div class="shopping-shippingTime">
                                <p>Llega: <b>dic 15 - 28</b></p>   
                                <span>Puede que lo recibas después de Navidad</span>
                            </div>
                            <div class="shopping-buyOptions">
                                <button class="btnChart"><i class="icon-shoppingCart"></i>Agregar al Carrito</button>
                                <button class="btnBuy"><i class="icon-play"></i>Comprar ahora</button>
                            </div>
                            <div class="shopping-info">
                                <a href="">Transacción segura</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </main>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-container-info">
                    <div>
                        <h2>Conócenos</h2>
                        <ul>
                            <li><a href="">Trabaja en Amazonas</a></li>
                            <li><a href="">Información corporativa</a></li>
                            <li><a href="">Dirección de prensa</a></li>
                        </ul>
                    </div>

                    <div>
                        <h2>Gana dinero con nosotros</h2>
                        <ul>
                            <li><a href="">Vender en Amazonas</a></li>
                            <li><a href="">Vender en Amazonas Handmade</a></li>
                            <li><a href="">Publica tu libro en Kindle</a></li>
                            <li><a href="">Programa de afiliados</a></li>
                            <li><a href="">Anuncia tus productos</a></li>
                        </ul>
                    </div>

                    <div>
                        <h2>Podemos ayudarte</h2>
                        <ul>
                            <li><a href="">Amazonas y COVID-19</a></li>
                            <li><a href="">Vender en Amazonas Handmade</a></li>
                            <li><a href="">Devolver o reemplazar productos</a></li>
                            <li><a href="">Gestionar contenido y dispositivos</a></li>
                            <li><a href="">Ayuda</a></li>
                        </ul>
                    </div>

                    <div>
                        <h2>Métodos de pago</h2>
                        <ul>
                            <li><a href="">Tarjetas de crédito y debito</a></li>
                            <li><a href="">Tarjetas de regalo</a></li>
                            <li><a href="">Meses sin interés</a></li>
                            <li><a href="">Amazonas Cash</a></li>
                            <li><a href="">Amazonas Recagable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-container-logo">
                    <a href="/">
                        <img src="./images/logo-amazon2.png" alt="Amazonas">
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>